.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.sub-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; /* Center the content inside table cells */
}

.table th, .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.link {
    color: blue;
}

.certificate {
    font-weight: bold;
    color: green;
}

.check {
    font-weight: bold;
    color: red;
}

.download-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    float: right; /* Align button to the right */
}
